<img class="tamañoi" src="../assets/img/comida2.jpg">
<div class="texto">
    <h1>Agrega tu ingrediente</h1><br><br>
</div>



<form class="example-form" onsubmit="return false" (submit)="registro(ingrediente.value, cantidad.value, und.value)">
    <mat-form-field class="example-full-width">
        <mat-label>Ingrediente</mat-label>
        <input matInput  #ingrediente >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Cantidad</mat-label>
        <input matInput #cantidad>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Unidades" formControlName="und" #und>
            <mat-option *ngFor="let item of unidades" [value]="item.pk_idUnidad"> {{ item.n_nombre_unidad }}

            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button>Agregar</button>
    <a class="boton" mat-raised-button href="/menu-restaurante" >Cancelar</a>
</form>