<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="titulo">
            <p>{{dataProducto.nombre}}</p>
        </mat-card-title>
    </mat-card-header>

    <img class="tamañoi" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-content class = "contenedor">
        <p>Categoria: {{dataProducto.categoria}}</p>
        <p>Precio: {{dataProducto.precio}}</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button>Añadir al carrito</button>
        
    </mat-card-actions>
</mat-card>