<img class="tamañoi" src="../assets/img/comida8.png">
<div class="texto">
    <h1>Arma tu menú</h1><br><br>
</div>

<form class="example-form" (submit)="registro( nombre, entrada, platofuerte, bebida, postre, precio, personalizable)">
    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput #nombre>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-select placeholder="Entrada" formControlName="entrada" #entrada>
            <mat-option value="vacio">--Seleccione--</mat-option>
            <mat-option *ngFor="let entrada of entradas" [value]="entrada.id"> {{ entrada.nNombre }}

            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Plato fuerte" formControlName="platofuerte" #platofuerte>
            <mat-option value="vacio">--Seleccione--</mat-option>
            <mat-option *ngFor="let plato of platosfuertes" [value]="plato.id"> {{ plato.nNombre }}

            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Bebida" formControlName="bebida" #bebida>
            <mat-option value="vacio">--Seleccione--</mat-option>
            <mat-option *ngFor="let bebida of bebidas" [value]="bebida.id"> {{ bebida.nNombre }}

            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Postre" formControlName="postre" #postre>
            <mat-option value="vacio">--Seleccione--</mat-option>
            <mat-option *ngFor="let postre of postres" [value]="postre.id"> {{ postre.nNombre }}

            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Precio</mat-label>
        <input matInput value="0" #precio>
        <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>

    <div class="cb">
        <label>Personalizable: </label>
        <mat-radio-group #personalizable>
            <mat-radio-button value="true" color="primary">Si</mat-radio-button>
            <mat-radio-button value="false" color="primary">No</mat-radio-button>
        </mat-radio-group>
    </div>
    <button mat-raised-button>Agregar</button>
</form>