<img class="tamañoi" src="../assets/img/comida8.png">
<div class="texto">
    <h1>Arma tu menú</h1><br><br>
</div>

<form class="example-form" (submit)="registro( nombre.value, entrada.value, platofuerte.value, bebida.value, postre.value, precio.value, personalizable.value)">
    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput #nombre>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-select placeholder="Entrada" formControlName="entrada" #entrada>
            <mat-option value="vacio">--Seleccione--</mat-option>
            <div *ngFor="let producto of productos" > 
                <mat-option *ngIf="producto.fk_idCategoria.pk_idCategoria==1" [value]="producto">{{ producto.n_nombre }}</mat-option>

            </div>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Plato fuerte" formControlName="platofuerte" #platofuerte>
            <mat-option value="vacio">--Seleccione--</mat-option>
            <div *ngFor="let producto of productos" > 
                <mat-option *ngIf="producto.fk_idCategoria.pk_idCategoria==2" [value]="producto">{{ producto.n_nombre }}</mat-option>

            </div>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Bebida" formControlName="bebida" #bebida>
            <mat-option value="vacio">--Seleccione--</mat-option>
            <div *ngFor="let producto of productos" > 
                <mat-option *ngIf="producto.fk_idCategoria.pk_idCategoria==3" [value]="producto">{{ producto.n_nombre }}</mat-option>

            </div>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Postre" formControlName="postre" #postre>
            <mat-option value="vacio">--Seleccione--</mat-option>
            <div *ngFor="let producto of productos" > 
                <mat-option *ngIf="producto.fk_idCategoria.pk_idCategoria==4" [value]="producto">{{ producto.n_nombre }}</mat-option>

            </div>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Precio</mat-label>
        <input matInput value="0" #precio>
        <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Personalizable" formControlName="personalizable" #personalizable>
            <mat-option value=true>Si</mat-option>
            <mat-option value="false">No</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button>Agregar</button>
</form>