
<div class="texto">
    <h1>Bienvenido </h1><br><br>
</div>

<div class="columnas">
    <div class="texto">
        <h1>Agregar </h1><br><br>
    </div>
    <div class="texto">
        <h1>Visualizar </h1><br><br>
    </div>
    <a class="boton" mat-raised-button href="/registro-ingrediente" color="primary">Ingrediente</a>
    <a class="boton" mat-raised-button href="/ingredientes" color="primary">Ingrediente</a>
    <a class="boton" mat-raised-button href="/registro-producto" color="primary">Producto</a>
    <a class="boton" mat-raised-button href="/productos" color="primary">Producto</a>
    <a class="boton" mat-raised-button href="/registro-menu" color="primary">Menú</a>
    <a class="boton" mat-raised-button href="/menu" color="primary">Menú</a>
</div>