<img class="tamañoi" src="../assets/img/comida7.png">
<div class="texto">
    <h1>Agrega tu producto</h1><br><br>
</div>

<form class="example-form" (submit)="registro(producto, cat, precio, cantidad, ing, personalizable)" >
    <mat-form-field class="example-full-width">
        <mat-label>Producto</mat-label>
        <input matInput #producto>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-select placeholder="Categoria" formControlName="cat" #cat>
            <mat-option *ngFor="let item of categorias" [value]="item.pk_idCategoria"> {{ item.n_nombre }}

            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Precio</mat-label>
        <input matInput value="0" #precio>
        <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Cantidad</mat-label>
        <input matInput #cantidad>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-select placeholder="Ingrediente" formControlName="ing" #ing>
            <mat-option *ngFor="let item of ingredientes" [value]="item.pk_idIngrediente"> {{ item.n_nombre }}

            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="cb">
        <label>Personalizable: </label>
        <mat-radio-group #personalizable>
            <mat-radio-button value="true" color="primary">Si</mat-radio-button>
            <mat-radio-button value="false" color="primary">No</mat-radio-button>
        </mat-radio-group>
    </div>

    <button mat-raised-button>Agregar</button>
</form>